$white: white;
$white-card: #f4f4f4;
$gray: #b8b8b8;
$gray-s: #7e7e7e;
$divider-t3: #8a8a8a;
$divider-t2: #767676;
$divider-t: #616161;
$divider: #323232;
$divider-s: #2c2c2c;
$blue: #00a3ff;
$blue-l: #27b0ff;
